{% extends 'base.html' %}

{% block content %}

    
{% if category_posts %}
    <h1>Category: {{ dogs }}</h1>

    <ul>
        
        <br/><br/>
        {% for post in category_posts %}
            <li>
                <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author }}<br/>

                <small>Posted on: {{ post.post_date }}  |  {{ post.post_time }}</small><br/>
                
                {{ post.body | slice:":100" | safe}}...
            </li>
            <br/>


        {% endfor %}
    </ul>

{% else %}

<h1>Sorry The Page Doesn't Exist!</h1>

{% endif %}




{% endblock %}